<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <h1 id="welcome" class="lead">Welcome, {{vm.userObject.userName}}!</h1>
    
    <input ng-model="vm.monday.bfood">
    <button ng-click="vm.saveMonday()">add breakfast</button>
    <br>
    <input ng-model="vm.mondaylunch.lfood">
    <button ng-click="vm.saveMondayLunch()">add lunch</button>
    <br>
    <input ng-model="vm.mondaydinner.dfood">
    <button ng-click="vm.saveMondayDinner()">add dinner</button>
    <br><br>
    <button class="btn btn-default" ng-click="vm.userService.logout()">Log Out</button>
</div>


