<div ng-include="'views/partials/nav.html' "></div>
<p ng-include="'/views/partials/header.html'"></p>
<div class="container">
    

    <div ng-repeat="day in vm.daysOfWeek">
        <h2>{{day}}</h2>
        <br>
        <div ng-repeat="meal in vm.meals">
            <h3>{{meal}}</h3>
            

            <input ng-model="vm.food.type">
            <!-- vm.savefood(breskfast,) -->
            <button ng-click="vm.saveFood(day, meal)">add {{meal}}</button>
        </div>
        <br>
        <br>
        <br>
        <br>
        
    </div>
    <p>{{vm}}</p>
    <button class="btn btn-default" ng-click="vm.userService.logout()">Log Out</button>



    <!-- <div ng-repeat="day in vm.daysOfWeek">
        <h2>{{day}}</h2>
        <h3>Breakfast</h3>
        <p>{{}}</p>
        <input ng-model="vm.food.type">
        <button ng-click="vm.saveFood(day, vm.meals[0])">add breakfast</button>
        <br>
        <h3>Lunch</h3>
        <input ng-model="vm.food.type">
        <button ng-click="vm.saveFood(day, vm.meals[1])">add lunch</button>
        <br>
        <h3>Dinner</h3>
        <input ng-model="vm.food.type">
        <button ng-click="vm.saveFood(day, vm.meals[2])">add dinner</button>
        <br>
        <br>
        <button class="btn btn-default" ng-click="vm.userService.logout()">Log Out</button>
    </div> -->





    <!-- <h2>Monday</h2>
    <h3>Breakfast</h3>
    <p>{{}}</p>
    <input ng-model="vm.monday.bfood"> -->
    <!-- vm.savefood(breskfast,) -->
    <!-- <button ng-click="vm.saveMonday()">add breakfast</button>
    <br>
    <h3>Lunch</h3>
    <input ng-model="vm.mondaylunch.lfood">
    <button ng-click="vm.saveMondayLunch()">add lunch</button>
    <br>
    <h3>Dinner</h3>
    <input ng-model="vm.mondaydinner.dfood">
    <button ng-click="vm.saveMondayDinner()">add dinner</button>
    <br><br>
    <button class="btn btn-default" ng-click="vm.userService.logout()">Log Out</button> -->
</div>


